input.error {
    background-color: yellow;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: azure;
}

#title {
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    text-transform: capitalize;
    color: yellow;
    font-family: Pokemonsolid;
}

table {
	margin:5px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding:0px;
	width:auto;
        border: 0px;
	background-color:#5ba3e0;
	border-spacing: 1px;
        
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}

#t2 tr:last-child th:first-child{
        -moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}

#t2 tr:first-child td:last-child{
        -moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}

table tr:first-child th:first-child{
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}

table tr:first-child th:last-child{
        -moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}

table th{
	background:-o-linear-gradient(bottom, #90bade 5%, #90bade 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90bade), color-stop(1, #90bade) );
	background:-moz-linear-gradient( center top, #90bade 5%, #90bade 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#90bade", endColorstr="#90bade");	background: -o-linear-gradient(top,#90bade,90bade);

	background-color:#90bade;
	text-align:center;
	font-size:14px;
	font-family:Helvetica;
	font-weight:normal;
	color:#ffffff;
}

table td{
	vertical-align:middle;
	
	background-color:#aad4ff;
	text-align:left;
	padding:6px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}

table tr:last-child td:last-child{
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}

#navigation {
    border-bottom: 1px solid #508fc4;
    padding: 5px 0 4px 0;
    //margin-bottom: 1em;
    background-color: #90bade;
    color: #333;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#navigation ul {
    list-style: none;
    font-size: 0;
    margin-left: -5px;
    padding: 5px;
    border: none;
}

#navigation li {
    font-size: 16px;
    display: inline;
    border-bottom: 1px solid #90bade;
}
/*
#titleli {
    list-style-position:inside;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    text-transform: capitalize;
    color: yellow;
    font-family: Pokemonsolid;
    font-size: 20px;
    display: inline;
    border-bottom: 1px solid #90bade;
    padding: 0.5em 0.5em 0.0em 0.5em;
    //margin-top: auto;
    //margin-bottom: auto;
    text-decoration: none;
    float: left;
}*/

#navigation li a {
    padding: 0.6em 0.6em 0.5em 0.6em;
    //margin-top: auto;
    //margin-bottom: auto;
    border-left: 1px solid #5ba3e0;
    border-right: 1px solid #508fc4;
    border-bottom: 1px solid #5ba3e0;
    background-color: #90bade/*#2175bc*/;
    color: #fff;
    text-decoration: none;
}

html>body #navigation li a {
    width: auto;
}

#navigation li a:hover {
    //border-left: 10px solid #1c64d1;
    border-right: 1px solid #508fc4;
    background-color: #5ba3e0;
    color: #fff;
}

#content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #aed0ee;
    min-height: 70vh;
    height: auto;
}

#insidecontent {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #aed0ee;
}

.myButton {
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 11px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#dfdfdf;
}

.myButton:active {
	position:relative;
	top:1px;
}

#texts {
    color: #555555;
    //font-family:arial;
    font-size:16px;
    font-weight:bold;
}
.myButton2 {
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 7px;
	text-decoration:none;
}
.myButton2:hover {
	background-color:#dfdfdf;
}
.myButton2:active {
	position:relative;
	top:1px;
}


#mydiv {
    overflow:hidden;
}
#createfield {
    border-bottom: 1px solid #508fc4;
    border-top: 1px solid #508fc4;
    border-left: 1px solid #508fc4;
    border-right: 1px solid #508fc4;
    padding: 5px 5px 5px 5px;
    //margin-bottom: 1em;
    //background-color: #90bade;
    float:left;
    color: #333;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Pokemonsolid;
    font-style: normal;
    font-weight: normal;
    src: url("Pokemon Solid.ttf");
}